<html>
  <head>
    <title>GitLab Demo</title>
    <style>
      body {
        background-color: #0cd;
        font-family: sans-serif;
      }

      .posts {
        width: 800px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 42px;
        background-color: white;
        border-radius: 16px;
        padding: 16px;
      }

      .post {
        padding-top: 32px;
        margin-bottom: 32px;
        border-top: 1px solid #ccc;
      }

      .post:first-child {
        border-top: 0px;
      }

      .post .meta {
        font-size: 12pt;
        font-color: #ddd;
        font-style: italic;
      }

      .post .title {
        font-size: 32pt;
        font-color: black;
        font-weight: bold;
      }

      .post .content {
        font-size: 14pt;
      }

    </style>
  </head>
  <body>
    <div class="posts">
      {% for post in posts %}
        <div class="post">
          <div class="meta">
            {{ post.date }}
          </div>
          <div class="title">
            {{ post.title }}
          </div>
          <div class="content">
            {{ post.content }}
          </div>
        </div>
      {% endfor %}
    </div>
  </body>
</html>